*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  background-color: var(--white-color) smoke;
  font-size: 62.5%;
  word-wrap: break-word;
  --earth-color: #8a2106;
  --earth-medium-color: #cc4725;
  --earth-light-color: #f2e9e6;
  --green-life-color: #aeff99;
  --green-life-dark: #62b100;
  --pink-color: #ffedf2;
  --main-color: rgb(60, 60, 60);
  --white-color: rgb(255, 255, 255);
  --product-size: 26rem;
  --gap: 1.5rem;
  --product-btn-size: 3rem;
  background-color: var(--earth-light-color);
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

/* FONT SIZES */

.title {
  text-align: center;
  font-family: Verdana, sans-serif;
}

.main-title {
  font-size: 3.2rem;
}

.secondary-title {
  font-size: 3rem;
  text-transform: uppercase;
}

.content-title {
  font-size: 2.5rem;
}

.product-caption {
  font-size: 1.7rem;
}

.product-price {
  font-size: 1.6rem;
}

.add-cart-btn {
  font-size: 3rem;
}

/* MAIN ELEMENTS */

button {
  background-color: transparent;
  border: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--earth-color);
  height: 4.5rem;
  background-color: var(--earth-light-color);
}

main {
  display: grid;
  grid-row-gap: 4rem;
  margin-bottom: 4rem;
  min-height: 100vh;
}

.animation-wrapper {
  transform: translateX(-50%);
  left: 10%;
  top: 5rem;
  position: fixed;
  width: 80%;
  background-color: var(--white-color);
  border: 0.3rem solid var(--earth-color);
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 1;
}

.animation-wrapper.invisible {
  opacity: 0;
  visibility: hidden;
}

.icon {
  font-size: 3rem;
  color: var(--earth-color);
  border: none;
  margin-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  width: 50%;
  background-color: var(--earth-color);
  color: var(--white-color);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* SEARCH FORM */

.search-section {
  height: 45rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../img/search-background.jpg);
  background-size: cover;
  background-position: center;
}

#search-form {
  width: 50%;
}

#search-form input[type="search"] {
  display: block;
  height: 4.5rem;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#search-form input[list="keywords"]::placeholder {
  color: var(--earth-color);
}

#search-form input[list="keywords"]:focus {
  color: var(--earth-color);
  font-size: large;
}

/* Productos */

.all-products {
  text-align: center;
}

.all-products .secondary-title {
  color: var(--earth-color);
}

#products {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, var(--product-size));
  grid-gap: var(--gap);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: var(--product-size);
  height: var(--product-size);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.3rem solid var(--earth-medium-color);
  border-radius: 1rem;
  background-color: var(--white-color);
}

.discount-amount {
  animation: tada;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.product figure {
  display: block;
  width: var(--product-size);
  height: calc(var(--product-size) * 0.7);
  color: var(--earth-color);
  font-weight: bold;
}

.product-img {
  display: block;
  height: calc(90% - 2.5rem);
  width: calc(100% - 2.5rem);
  margin: 1rem;
  object-fit: cover;
}

.product-info {
  height: calc(var(--product-size) * 0.3);
  width: var(--product-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-info .buttons {
  flex-basis: 50%;
  width: calc((var(--product-btn-size) + var(--gap)) * 2.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prices {
  text-align: center;
  flex-basis: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 45%;
}

.product-price {
  width: 4rem;
  display: inline-block;
  height: var(--product-btn-size);
  line-height: var(--product-btn-size);
}

.product-price:only-child {
  width: 100%;
}

.product .item-count {
  width: calc(var(--product-btn-size) * 2);
  height: var(--product-btn-size);
  text-align: center;
}

.product .discount-amount {
  --width: 5rem;
  --height: 2.5rem;
  position: absolute;
  bottom: calc(var(--product-size) - 0.5rem - var(--height));
  left: calc(var(--product-size) - 0.5rem - var(--width));
  background-color: gold;
  color: var(--main-color);
  padding: 0.25rem;
  width: var(--width);
  height: var(--height);
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: bolder;
}

/* PRODUCTS CART */

#items-count-icon {
  position: absolute;
  top: 1rem;
  background-color: var(--white-color);
  color: var(--earth-color);
  border: 0.1rem solid var(--earth-color);
  font-weight: bolder;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.4rem;
  text-align: center;
}

#cart-icon {
  position: relative;
  background-color: transparent;
  border: none;
}

#cart-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-left: 0.2rem solid var(--earth-color);
  border-right: 0.2rem solid var(--earth-color);
}

#cart-table tr {
  text-align: center;
  height: 4rem;
  font-size: 1.7rem;
}

#cart-table td {
  border-bottom: 0.2rem solid var(--earth-color);
}

#cart-table thead {
  background-color: var(--earth-color);
  color: var(--white-color);
}

#cart-info tr:nth-child(even) {
  background-color: var(--earth-light-color);
}

#cart-table td,
#cart-table th {
  flex-basis: 25%;
}

#cart-total {
  padding: 1rem;
  font-size: 2rem;
}

/* HISTORIAL */

#historial {
  background-color: var(--earth-light-color);
  padding: 1rem;
}

details {
  text-align: center;
  width: max-content;
  margin-bottom: 2rem;
  font-size: small;
  background-color: var(--white-color);
  border-radius: 1rem;
  border: 0.1rem solid var(--earth-medium-color);
  padding: 0.5rem;
  transition: all 0.3s ease-out;
}

summary {
  padding: 0.5rem;
  outline-color: var(--earth-medium-color);
}

details[open] {
  font-size: medium;
  padding: 1rem;
}

details ul {
  font-style: normal;
  list-style: none;
}

details li {
  line-height: 3rem;
  height: 3rem;
  margin: 0.5rem 0;
}

details p {
  font-style: normal;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

/* Buttons */

.button {
  height: 4.5rem;
  width: 15rem;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

.add-cart-btn {
  height: var(--product-btn-size);
  width: var(--product-btn-size);
  line-height: var(--product-btn-size);
  background-color: var(--earth-color);
  color: var(--white-color);
}

.add-cart-btn:hover {
  background-color: var(--green-life-color);
  border: 0.1rem solid var(--earth-color);
  color: var(--earth-color);
}

.remove-btn {
  background-color: transparent;
  font-size: 2.1rem;
  line-height: 2.1rem;
  font-weight: bold;
}

#delete-history-btn {
  font-size: 1.2rem;
  height: 3rem;
  width: 12rem;
  position: absolute;
  top: 0;
  right: 3rem;
  outline: none;
  font-weight: bold;
}
#delete-history-btn:hover {
  color: var(--earth-medium-color);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  border-color: transparent;
  background-color: transparent;
  border-width: 0.1rem;
}

.close-btn:hover {
  background-color: var(--earth-light-color);
  border-color: var(--earth-medium-color);
  border-width: 0.1rem;
  border-style: solid;
}

#pay-btn {
  background-color: var(--green-life-dark);
  color: var(--white-color);
}

#pay-btn:hover {
  background-color: var(--green-life-color);
  color: var(--earth-color);
}

#delete-all-btn {
  background-color: var(--earth-medium-color);
  color: var(--white-color);
}

#delete-all-btn:hover {
  background-color: var(--pink-color);
  color: var(--earth-color);
}

.update-btn {
  width: 3rem;
  margin: 0 0.5rem;
  border: 0.1rem solid var(--earth-color);
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: 0.2rem;
  outline: none;
}

.update-btn:hover {
  background-color: var(--green-life-color);
}

/* MEDIA QUERIES */

@media (max-width: 750px) {
  .main-title,
  #search-form {
    width: 95%;
  }

  .animation-wrapper {
    width: 100%;
    left: 0;
    padding: 0.5rem;
  }

  .update-btn {
    width: 28%;
    margin: 0 0.3rem;
  }

  details {
    width: 90%;
  }
}
